/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilo do Header */
  .header {
    display: flex;
    align-items:baseline;
    background-color: #282c34;
    color: white;
    flex-direction: column;
    gap: .3em;
    height: 95px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin: 0.5em;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  .LET{
    display: flex;
    flex-direction: column;
  }
  .nav {
    display: flex;
    gap: 15px;
    align-items:center;
    width: 800px;
    justify-content: space-around;
  }
  
  .nav a {
    text-decoration: none;
    color: #61dafb;
    font-size: 16px;
    transition: color 0.3s;
    background-color:#8e998aa2;
    width: 150px;
    align-items: center;
    border-radius: 6px;
  }
  
  .nav a:hover {
    color: white;
  }
  
  @media (max-width: 768px) {
    .nav a {
      font-size: 14px;
    }
  
    .logo img {
      height: 40px;
    }
  }
  