/* Reset */
@import '../variavel.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: space-between; /* Espaça a logo e o menu */
    background-color: #3b3838;
    height: 80px;
    padding: 0 20px; /* Espaçamento horizontal interno */
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin: 2em 12em;
  }
  
  .logo img {
    height: 55px;
    margin-right: 10px;
  }
  .LET{
    display: flex;
    flex-direction: column;
  }
  .nav {
    display: flex;
    gap: 10px;
    align-items: center; /* Certifique-se de que os itens do menu estejam alinhados no centro */
    justify-content: center; /* Centraliza o menu em relação ao contêiner do nav */
    flex-grow: 1; /* Permite que o menu ocupe o espaço necessário */
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 0px 10px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
  }
  
  .nav a:hover {
    color: rgb(89, 192, 4);
  }
  
  /* Estilo para o link ativo */
  .nav a.active {
    color: rgb(89, 192, 4);
    font-weight: bold;
  }
  
  
  /* Responsividade */
  @media (max-width: 768px) {
    .nav {
      flex-wrap: wrap; /* Permite que o menu quebre linha em telas pequenas */
    }
  
    .nav a {
      font-size: 14px;
    }
  
    .logo img {
      height: 40px;
    }
  
    .language-2 {
      flex-direction: column; /* Coloca os botões de idioma em pilha */
    }
  }
  